.page_login
  position fixed
  width 100vw
  height 100vh

.background
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background #f8f8f9

.login
  align-self center
  width 420px
  margin-bottom 20vh
  z-index 99

.copyright
  position fixed
  bottom 20px
  min-width 200px
  padding 10px 20px
  color #c5c8ce
  font-size 12px
  text-align center
  white-space nowrap
  border-top 1px solid #e8eaec
