.header
  height 60px
  padding 0 30px

.header_logo
  margin-right auto
  font-size 18px
  font-weight bold

.sider
  height calc(100vh - 60px)

.content:deep(.n-tabs-nav-scroll-content)
  background #f8f8f9

.content:deep(.n-tabs-wrapper)
  background #fff

.page_with_container
  padding 10px 20px 100px
  box-sizing border-box
